div a.myButton {
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #686868;
    padding: 10px 10px;
}

div a.myButton:hover {
    background-color: #686868;
}

.containerRoom {
    position: relative;
}

div.myCard {
    margin-bottom: 20px;
    padding-left: 0;
    margin-left: 0;
}

body{
    background-image: url("../images/christian-lambert-vmIWr0NnpCQ-unsplash.png");
}

div.myDiv {
    margin-left: 200px;
    font-size: 20px;
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
}